<launch>
  <node pkg="small_bot_ros_driver"
   name="driver_node" type="driver_node" output="screen">
    <param name="port" type="str" value="/dev/ttyAMA0" />
    <!-- <param name="port" type="str" value="/dev/ttyUSB0" /> -->
    <param name="cmd" type="str" value="/cmd_vel"/>
    <param name="baud_rate" type="int" value="115200"/>
    <param name="odom_rate" type="double" value="30"/>
    
    <param name="send_queue_size" type="int" value="100"/>
    <!-- 我建议使用100，不然odom可能一直处于饥饿 -->

    <param name="timeout_millseconds" type="int" value="5"/>
    <param name="reductionRate"  type="double" value="0.033333333333"/>
    <param name="L"  type="double" value="0.0990"/>
    <param name="wheelR"  type="double" value="0.029"/>
    <param name="tpr"  type="double" value="334"/>
    <param name="odom_name"  type="str" value="/odom"/>
    <param name="odom_frame"  type="str" value="/odom"/>
    <param name="child_frame"  type="str" value="/base_footprint"/>
    <param name="sendTF"  type="bool" value="true"/>
    <param name="sendOdom"  type="bool" value="true"/>

    <param name="batt_rate" type="double" value="10"/>

    <param name="batt_raw_name" type="str" value="batt_raw"/>
    <param name="batt_percent_name" type="str" value="batt_percent"/>
    <param name="batt_table_path" type="str" value="$(find smallBotRosDriver)/config/batt_table.csv" />
  </node>
</launch>
